{% extends 'core/index.html' %}
{% block content %}
<div class="form-group text-white m-5">
    <h1 class="text-warning mb-5 border-bottom">
        Sign up to view Customer Details
    </h1>
    <form action="" class="" method="post" novalidate>
        <p>
            If you have not created an account yet, then please <a class="text-info" href="{% url 'signup' %}" >Sign up</a> first.
        </p>
        {% if messages %}
        {% for message in messages%}
        <section {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{ message }}</section>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {% for fm in form %}
        {% if fm.errors %}<section class="alert alert-danger">{{fm.errors|striptags}}</section>{% endif%}
        {{fm.label_tag}}{{fm}}<br>
        {% endfor %}
        <input type="submit" value="Log In" class="btn btn-primary">
    </form>
</div>
{% endblock content %}