{% extends 'core/index.html' %}
{% block content %}
<div class="form-group text-white m-5">
    <h1 class="text-warning mb-5 border-bottom">
        Sign up to view Customer Details
    </h1>
    <form action="" class="" method="post" novalidate>
        <p>
            If you already have an account, then please <a class="text-info" href="{% url 'login' %}">Log In</a>
            here.
        </p>
        {% if messages %}
            {% for message in messages%}
                <section {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{ message }}</section>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {% for fm in form %}
            {% if fm.errors %}<section class="alert alert-danger">{{fm.errors|striptags}}</section>{% endif%} {{fm.label_tag}}{{fm}}<br>
        {% endfor %}
        <input type="submit" value="Sign Up" class="btn btn-primary">
    </form>
</div>
{% endblock content %}