{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">
        Contact Me
    </h1>
    <div class="row text-white mb-5">
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                <li>{{ field }}: {{ error }}</li>
                <br>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <p class="mx-auto mb-5">
            Do you have any questions ? Please do not hesitate to contact. I will respond to you within 24 hours to help you.
        </p>
        <div class="col-sm-9 mb-5">
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{form.inputName.label_tag}}
                        {{form.inputName}}
                    </div>
                    <div class="form-group col-md-6">
                        {{form.inputEmail.label_tag}}
                        {{form.inputEmail}}
                    </div>
                </div>
                    <div class="form-group">
                        {{form.inputSubject.label_tag}}
                        {{form.inputSubject}}
                    </div>
                <div class="mb-3">
                    {{form.inputMessage.label_tag}}
                    {{form.inputMessage}}
                </div>
                <button type="submit" class="btn btn-primary form-control mt-3">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li class="mb-5">
                    <i class="fa-solid fa-map-location-dot green-color fa-2x"></i>
                    <p>New Jersey</p>
                </li>
                <li class="mb-5">
                    <i class="fa-solid fa-phone fa-2x green-color"></i>
                    <p>908-315-0771</p>
                </li>
                <li class="mb-5">
                    <i class="fa-solid fa-envelope fa-2x green-color"></i>
                    <p>jane.doe@email.com</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center mb-4">
        <a href="">
            <i class="fa-brands fa-twitter green-color mr-3"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-facebook green-color mr-3"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram green-color mr-3"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-linkedin green-color mr-3"></i>
        </a>
    </div>
</div>
{% endblock content %}