.roboto-font {
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

/* Services Color */
.green-color{
    color: chartreuse;
}

.para{
    color: silver
}

.a-link {
    color: whitesmoke
}

.a-link:hover {
    color: black;
    background-color: aqua;
}

.a-link.active {
    color: black;
    background-color: blue;
    font-weight: bold;
}